# Dependencies
node_modules
.pnpm-store

# Logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
config/config.json

# Build outputs
dist
dist-ssr
build
out

# Editor directories and files
.vscode/*
.DS_Store

# Prisma
*.db
*.db-journal

# SQLite database files
*.sqlite
*.sqlite3

# Temporary files
tmp
temp
file
test
targe
public
/src/generated/prisma
